.form-element {
    gap: 0.4rem;
}

input {
    border: 0;
    font-size: large;
    padding: 0.5rem 0.5rem;
    outline: none;
}

input:focus {
    box-shadow: 0px 0px 1px 3px rgb(45, 186, 229);
}

input[type="submit"] {
    background-color: rgb(145, 95, 220);
    color: white;
}

input::placeholder {
    color: rgb(141, 141, 141);
    opacity: 0.7;
    font-size: medium;
}